menu "Camera Configuration"

choice
	prompt "Choose a camera"
	config OV2640
		bool "OV2640"
	config OV7725
		bool "OV7725"
	config OV9650
		bool "OV9650"
endchoice

config CAMERA
	int
		default 1
		default 2 if OV7725
		default 3 if OV9650
endmenu